<div class="change-container">

  <button class="back-btn" (click)="goBack()">
    ← Volver
  </button> 
  
  <h2>Cambiar contraseña</h2>

  <form [formGroup]="passwordForm" (ngSubmit)="cambiarPassword()">
      <div class="form-group password-group">
        <label>Contraseña actual</label>
        <div class="input-wrapper">
          <input [type]="showPasswordActual ? 'text' : 'password'" formControlName="actual">
          <button type="button" class="eye-btn" (click)="togglePassword('actual')">
            <span [ngClass]="showPasswordActual ? 'eye-open' : 'eye-closed'"></span>
          </button>
        </div>
      </div>

      <div class="form-group password-group">
        <label>Nueva contraseña</label>
        <div class="input-wrapper">
          <input [type]="showPasswordNueva ? 'text' : 'password'" formControlName="nueva">
          <button type="button" class="eye-btn" (click)="togglePassword('nueva')">
            <span [ngClass]="showPasswordNueva ? 'eye-open' : 'eye-closed'"></span>
          </button>
        </div>
        <div *ngIf="passwordForm.get('nueva')?.errors">
          <small *ngIf="passwordForm.get('nueva')?.errors?.['required']">Requerido</small>
          <small *ngIf="passwordForm.get('nueva')?.errors?.['minlength']">Mínimo 8 caracteres</small>
          <br>
          <small *ngIf="passwordForm.get('nueva')?.errors?.['pattern']">
            Debe contener mayúscula, minúscula, número y carácter especial
          </small>
        </div>
      </div>

      <div class="form-group password-group">
        <label>Confirmar contraseña</label>
        <div class="input-wrapper">
          <input [type]="showPasswordConfirmar ? 'text' : 'password'" formControlName="confirmar">
          <button type="button" class="eye-btn" (click)="togglePassword('confirmar')">
            <span [ngClass]="showPasswordConfirmar ? 'eye-open' : 'eye-closed'"></span>
          </button>
        </div>
      </div>

      <button type="submit" [disabled]="loading">Cambiar Contraseña</button>
    </form>

</div>