<div class="change-container">

  <button class="back-btn" (click)="goBack()">
    ← Volver
  </button>
  
  <h2>Cambiar contraseña</h2>

  <form [formGroup]="form" (ngSubmit)="submit()">

    <!-- Contraseña actual -->
    <div class="form-group">
      <label>Contraseña actual</label>
      <div class="input-wrapper">
        <input
          [type]="showCurrent ? 'text' : 'password'"
          formControlName="currentPassword"
        />
        <i class="toggle" (click)="toggle('current')">
          {{ showCurrent ? '👁️' : '🙈' }}
        </i>
      </div>
      <span class="error" *ngIf="form.controls['currentPassword'].touched && form.controls['currentPassword'].invalid">
        Este campo es obligatorio.
      </span>
    </div>

    <!-- Nueva contraseña -->
    <div class="form-group">
      <label>Nueva contraseña</label>
      <div class="input-wrapper">
        <input
          [type]="showNew ? 'text' : 'password'"
          formControlName="newPassword"
        />
        <i class="toggle" (click)="toggle('new')">
          {{ showNew ? '👁️' : '🙈' }}
        </i>
      </div>

      <span class="error"
            *ngIf="form.controls['newPassword'].touched 
                  && form.controls['newPassword'].errors?.['weakPassword']">
        La contraseña debe tener mayúscula, minúscula, número y símbolo.
      </span>

      <span class="error"
            *ngIf="form.controls['newPassword'].errors?.['minlength']">
        Debe tener al menos 8 caracteres.
      </span>
    </div>

    <!-- Confirmar contraseña -->
    <div class="form-group">
      <label>Confirmar contraseña</label>
      <div class="input-wrapper">
        <input
          [type]="showConfirm ? 'text' : 'password'"
          formControlName="confirmPassword"
        />
        <i class="toggle" (click)="toggle('confirm')">
          {{ showConfirm ? '👁️' : '🙈' }}
        </i>
      </div>

      <span class="error" *ngIf="form.hasError('notMatch') && form.controls['confirmPassword'].touched">
        Las contraseñas no coinciden.
      </span>
    </div>

    <button type="submit" class="btn-save">
      Guardar nueva contraseña
    </button>

  </form>

</div>
